.vbox, .anchor-pane, .split-pane {
    -fx-background-color: #303030;
    -fx-text-fill: #FFFFFF;
}


/* MENU NAVEGAÇÃO */
.menu-bar {
    -fx-background-color: #404040;
}

.menu:hover {
    -fx-background-color: #505050;
}

.menu-item {
    -fx-background-color: #303030;
    -fx-padding: 5;
}

.menu-item:hover {
    -fx-background-color: #505050;
}


/* TABELAS */
.table-view {
    -fx-background-color: #404040;
    -fx-selection-bar: #505050;
    -fx-selection-bar-text: #FFFFFF;
    -fx-border-color: #707070;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.table-row-cell:selected .text {
       -fx-font-weight: bold;
}

.table-column {
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
}


/* BOTÕES E TEXTO */
.text-field {
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #AAAAAA;
    -fx-border-color: #707070;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 5;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.label-header {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #505050;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #707070;
    -fx-border-width: 1px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #606060;
}


/* SELETOR DATA */
.date-picker {
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #707070;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}


/* SELETORES DROPDOWN */
.choice-box {
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #707070;
    -fx-border-width: 1px;
    -fx-background-radius: 5;
}

.choice-box .list-view {
    -fx-background-color: #303030;
    -fx-text-fill: #DDDDDD;
}

.choice-box .list-view .list-cell:hover {
    -fx-background-color: #505050;
    -fx-text-fill: #FFFFFF;
}

.choice-box .list-view .list-cell:selected {
    -fx-background-color: #606060;
    -fx-text-fill: #FFFFFF;
}